@import 'src/scss/mixins';
@import 'src/scss/lightbox';
@import 'src/scss/header';
@import 'src/scss/button';
@import 'src/scss/fonts';
@import 'src/scss/order';
@import 'src/scss/menu';
@import 'src/scss/promo';
@import 'src/scss/modal';

:root {
  --orange: #ffaf18;
  --brown: #bd985c;
  --brown-dark: #382400;
} 

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Muller, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--brown);
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  flex-grow: 1;
  margin: 0 auto;
  box-sizing: border-box;
}

  
footer {
  flex-shrink: 0;
}