.header {
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

.header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  margin-bottom: 20px;
}

.header__link {
  padding: 20px;
  text-decoration: none;
  color: var(--brown);

  &:hover {
    color: var(--orange);
  }
}

header nav {
  display: flex;
  flex-direction: column;
}

@include desktop {
  .header__wrapper {
    flex-direction: row;
  }

  .header__logo {
    margin-right: 250px;
    margin-bottom: 0px;
  }

  header nav {
    margin-right: 230px;    
    flex-direction: row;

  }
}